
.container {
  max-width: grid("container");
  margin: 0 auto;
}

.list-announcements {
  list-style: none;
  background-color: color('white');

  @media screen and (min-width: breakpoint("small")) {
    padding: 0 spacing("xsmall");
  }

  li {
    padding: spacing("xxsmall") 0;
  }

  hr {
    border: 0;
    border-bottom: 1px solid color('background');
  }
}

