.header-wrapper {
  padding: spacing("xxsmall");
  background-color: color("primary");
}


.menu-content {
  max-width: grid("container");
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: spacing("xsmall");

  @media screen and (min-width: breakpoint("medium")) {
    justify-content: center;
  }
}


.logo {
  display: flex;
  line-height: 0;
}

